name: check_dataset
# This workflow is triggered on pushes and PRs to the repository.
on:
  pull_request:
    branches: [master]

jobs:
  AMDirT:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: "3.9"
          architecture: "x64"
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install amdirt==1.4.5
      - name: Make validation results directory
        run: mkdir validation/
      - name: Add AMDirT validate version
        run: |
          echo "$(AMDirT --version)" > validation/validation_results_raw.txt
      - name: SAMPLES test ancient host-associated metagenome (e.g. microbiomes)
        if: always()
        run: |
          echo "# Ancient Metagenome Host Associated Samples" >> validation/validation_results_raw.txt
          AMDirT validate -s -d -c -i -m --multi_values archive_accession ancientmetagenome-hostassociated/samples/ancientmetagenome-hostassociated_samples.tsv ancientmetagenome-hostassociated/samples/ancientmetagenome-hostassociated_samples_schema.json &>> validation/validation_results_raw.txt
      - name: SAMPLES test ancient single microbial genomes (e.g. pathogens)
        if: always()
        run: |
          echo "# Ancient Single Genome Host Associated Samples" >> validation/validation_results_raw.txt
          AMDirT validate -s -d -c -i -m --multi_values archive_accession ancientsinglegenome-hostassociated/samples/ancientsinglegenome-hostassociated_samples.tsv ancientsinglegenome-hostassociated/samples/ancientsinglegenome-hostassociated_samples_schema.json &>> validation/validation_results_raw.txt
      - name: SAMPLES test ancient environmental (e.g. sediment)
        if: always()
        run: |
          echo "# Ancient Metagenome Environmental Samples" >> validation/validation_results_raw.txt
          AMDirT validate -s -d -c -i -m --multi_values archive_accession ancientmetagenome-environmental/samples/ancientmetagenome-environmental_samples.tsv ancientmetagenome-environmental/samples/ancientmetagenome-environmental_samples_schema.json &>> validation/validation_results_raw.txt
      - name: LIBRARIES test ancient host-associated metagenome (e.g. microbiomes)
        if: always()
        run: |
          echo "# Ancient Metagenome Host Associated Libraries" >> validation/validation_results_raw.txt
          AMDirT validate -s -d -c -m ancientmetagenome-hostassociated/libraries/ancientmetagenome-hostassociated_libraries.tsv ancientmetagenome-hostassociated/libraries/ancientmetagenome-hostassociated_libraries_schema.json &>> validation/validation_results_raw.txt
      - name: LIBRARIES test ancient host-associated single-genomes (e.g. pathogens)
        if: always()
        run: |
          echo "# Ancient Single Genome Host Associated Libraries" >> validation/validation_results_raw.txt
          AMDirT validate -s -d -c -m ancientsinglegenome-hostassociated/libraries/ancientsinglegenome-hostassociated_libraries.tsv ancientsinglegenome-hostassociated/libraries/ancientsinglegenome-hostassociated_libraries_schema.json &>>  validation/validation_results_raw.txt
      - name: LIBRARIES test ancient environmental metagenomes (e.g. sedaDNA)
        if: always()
        run: |
          echo "# Ancient Metagenome Environmental Libraries" >> validation/validation_results_raw.txt
          AMDirT validate -s -d -c -m ancientmetagenome-environmental/libraries/ancientmetagenome-environmental_libraries.tsv ancientmetagenome-environmental/libraries/ancientmetagenome-environmental_libraries_schema.json &>> validation/validation_results_raw.txt
      - name: cleanup validation results from streamlit warnings
        if: always()
        run: |
            grep -v streamlit validation/validation_results_raw.txt > validation/validation_results.txt
      - uses: actions/upload-artifact@v3
        if: always()
        with:
          name: results
          path: validation/validation_results.txt
      - uses: actions/download-artifact@v3
        if: always()
        with:
          name: results
      - name: comment PR
        if: always()
        uses: machine-learning-apps/pr-comment@1.0.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          path: validation/validation_results.txt
